:root {

    --ff-primary: 'Chango', sans serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}
 
html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* background: #E0F2FE; */
    font-family: var(--ff-primary);
}
  
a:not([class]) {
text-decoration-skip-ink: auto;
}
  
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}


.bg-kirby { 
    
    background-image: url(assets/clound.jpg);
    background-repeat: no-repeat;
        
    background-size:contain;
    padding-top: 200px;
    padding-bottom: 270px;
    

}


.kiby-svg img {
    background-repeat: no-repeat;
    margin: 0;
}

.characters-bg{
    color: white;
    background-color: #E11D48;
}