:root {

    --ff-primary: 'Chango', sans serif;
    --clr-primary: #FDA4AF;
}

/* BOX SIZING RULES */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


html:focus-within {
    scroll-behavior: smooth;
}
 
html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #E0F2FE;
    font-family: var(--ff-primary);

}
  
a:not([class]) {
    text-decoration-skip-ink: auto;
}
  
img,
picture,
svg {
    max-width: 100%;
    /* display: block; */
}    

a:not([class]) {
    text-decoration-skip-ink: auto;
}    


/* .kirby-svg {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
}     */

.kirby-svg {
    display: flex;
    position: relative  ;
    left: 520px;
    bottom: 40px;

    z-index: 2;
}

.star-svg {
    display: flex;
    position: relative;
    z-index: 1;

    justify-content: center;
    bottom: 380px;
}

.characters-bg{
    color: white;
    background-color: #E11D48;
}




/* HEADER */



.primary-header nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;

    position: relative;
    top: 50px; 

    z-index: 5; 
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: #A63361;
}

.flex {
    display: flex;
    gap: 2rem;
}    

/* @supports (backdrop-filter: blur(1rem)){
    .primary-nav {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }      
}    

.primary-nav a {
    text-decoration: none;
    color: black;
}    

.primary-nav a > [aria-hidden="true"] {
   font-weight: 700; 
   margin-inline-end: 0.75em;
}   

@media (min-width: 35em){
    .primary-nav {
        
        position: fixed;
        z-index: 1000;
        inset: 0 30%;

        flex-direction: column;
        align-items: center;
        padding: min(30vh, 10rem) 2em;
    }        
}     */

/* .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background: url(assets/HAMBURGUER.png);
    background: red;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
}    

.primary-nav {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background: #FDA4AF;
    border-radius: 100px;
    
} */

/* BACKGROUND IMG */
.bg-kirby {   
    background-image: url(images/clound-png.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    
    
} 

